.header__wrapper {
    width: 100%;
    height: 6rem;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    cursor: pointer;
    transition: 0.1s;
    display: flex;
    justify-content: space-between;
    width: 570px;
    margin-right: 50px;
}

.logo {
    margin-left: 120px;
}

.text-menu {
    font-family: Open Sans;
    font-style: normal;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
}

.text-menu:hover {
    color: #EC7979;
}

.text-menu:active {
    color: rgba(171, 73, 73, 1);
}